.grid-container {
    display: grid;
    grid-template-columns: auto;
    background-color: blue;
    padding: 20px;
}

.grid-item {
    background-color: lightseagreen;
    padding: 20px;
    font-size: 20px;
    text-align: left;
}

