@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');

body{
    background-color: white; 
    margin: 0;
    padding: 0;
}

h1, h2 {
    padding: 10px;
    text-align: left;
    color: #05B3A7;
    font-family: 'Bree Serif', serif;
    font-size: 40px;
    line-height: 10px;
}

p {
    padding: 10px;
    color: black;
    line-height: 5px;
    font-size: 20px;
    font-family: 'Bree Serif', serif;
}

/* .item1 {grid-area: header;}
.item2 {grid-area: main;}
.item3 {grid-area: footer;}

.grid-container {
    display: grid;
    grid-template-areas: 'header header header' 'main main main' 'footer footer footer';
    gap: 15px;
    background-color: blue;
    padding: 20px;
}

.grid-container > div {
    background-color: lightseagreen;
    text-align: center;
    padding: 20px;
    font-size: 20px;
} */

