@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');

body{
    background-color: white; 
    margin: 0;
    padding: 0;
}

h1 {
    padding: 20px;
    text-align: left;
    color: black;
    font-family: 'Bree Serif', serif;
    font-size: 35px;
    line-height: 10px;
}

h2 {
    padding: 20px 20px 20px 20px;
    text-align: left;
    color: black;
    font-family: 'Bree Serif', serif;
    font-size: 20px;
    line-height: 10px;
}

p {
    padding-left: 40px;
    color: black;
    line-height: 5px;
    font-size: 20px;
    font-family: 'Bree Serif', serif;
}

.footer {
    padding: 10px;
    text-align: center;
    color: Black;
    font-family: 'Bree Serif', serif;
    font-size: 15px;
    line-height: 20px;
}

#time {
    color: Black;
}

/* .flex-container {
    display: flex;
    flex-direction: column;
    background-color: white;
}

.flex-container > .div-container {
    background-color: #05B3A7;
    width: 500px;
    margin: 200px;
    text-align: center;
    line-height: 50px;
    font-size: 20px;
} */

.grid-container {
    grid-template-areas: 'header header header' 'main main main' 'footer footer footer';
    display: grid;
    align-items: center;
    justify-content: left;
    text-align: center;
    padding: 20px;
    background-color: #05B3A7;
}

.item1 {grid-area: header;}
.item2 {grid-area: main;}
.item3 {grid-area: footer;}

/* .grid-container {
    display: grid;
    grid-template-areas: 'header header header' 'main main main' 'footer footer footer';
    gap: 15px;
    background-color: blue;
    padding: 20px;
} */

.grid-container > div {
    background-color: lightseagreen;
    text-align: center;
    padding: 20px;
    font-size: 20px;
} 

