@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=DM+Serif+Display:ital@0;1&display=swap" rel="stylesheet"');
.grid-container {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    margin: 50px 50px 50px 50px;
    justify-content: center;
    font-family: 'DM Serif Display', serif;
}

.img {
    display: block;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-left: 20px;
}