@media (min-width:700px){
    .grid-header-container{
        justify-content: start;
    }

    .title {
        justify-self:start;
    }

    nav ul {
        display: none;
        position: absolute;
        width:100%;
        background-color: orange;
        list-style-type: none;
        padding: 0;
        justify-content: center;
        align-items: center;
        left:0;
        top:97px;
        min-width: 300px;
        font-size: 1.5rem;
        grid-area: navigation;
    
    }
}