/* @import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=DM+Serif+Display:ital@0;1&display=swap" rel="stylesheet"');

.grid-container {
    grid-template-areas: 'header header header' 'main main main' 'footer footer footer';
    display: grid;
    align-items: center;
    justify-content: left;
    text-align: center;
    padding: 20px;
    /* background-color: #05B3A7; */
}

h1, h2, p {
    /* font-family: 'Bree Serif', serif;
    font-family: 'DM Serif Display', serif; */
    padding: 20px;
}

h1 {
    font-size: x-large;
    font-family: 'DM Serif Display', serif;
    color: #1B7F7A;
}

h2 {
    font-size: large;
    font-family: 'DM Serif Display', serif;
    color: #4CABA6;
}

p {
    font-size: medium;
    font-family: 'Bree Serif', serif;
    color:#0897B4;
}

img {
    width: 200px;
    border-radius: 15px;
    padding: 10px;
}

.grid-container {
    background-color: #F2CDAC;
}

.header {
    font-size: xx-large;
    font-family: 'DM Serif Display', serif;
    color: #4C4A59; 
    text-align: center;
}

.footer {
    font-size: small;
    font-family: 'Bree Serif', serif;
}

.center {
    text-align: center;
    margin: auto;
    padding: 50x;
}