@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=DM+Serif+Display:ital@0;1&display=swap" rel="stylesheet"');

.grid-container {
    display: grid;
    grid-template-columns: 1fr;
    background-color: #05B3A7;
    align-items: center;
    justify-content: left;
    text-align: center;
    padding: 20px;
}

.header {
    font-size: xx-large;
    font-family: 'DM Serif Display', serif;
    color: #4C4A59; 
    text-align: center;
    padding-left: 500px;
}

h1, h2, p {
    padding: 20px;
}

h1 {
    font-size: x-large;
    font-family: 'DM Serif Display', serif;
    color: #1B7F7A;
}

h2 {
    font-size: large;
    font-family: 'DM Serif Display', serif;
    color: #4CABA6;
}

p {
    font-size: medium;
    font-family: 'Bree Serif', serif;
    color:#0897B4;
}

img {
    width: 200px;
    border-radius: 15px;
    padding: 10px;
}

.footer {
    font-size: small;
    font-family: 'Bree Serif', serif;
    padding-left: 500px;
    text-align: center;
}
