@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=DM+Serif+Display:ital@0;1&display=swap" rel="stylesheet"');

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1f);
    padding: 20px;
}

body {
	font-size: 16px;
	font-family: 'DM Serif Display', serif;
}

time {
    margin: 1rem;
    padding: 1rem 1rem;
    background-color: ;
}

