table {
    border: 1px solid #333;
    text-align: center;
}

th {
    background-color: blanchedalmond;
    color: black;
} 

td {
    border: 1px solid white;
    column-width: 75px;

}

thead, tbody {
    background-color: blueviolet;
    color: #fff;
    font-size: 20px;
}

.span {
    justify-content: center;
}

tr:nth-child(even) td {
    background-color: turquoise;
}

tr:nth-child(odd) td {
    background-color: palevioletred;
}

.basic .premium .deluxe {
    background-color: darkslategrey;
    color: white;
    font-size: 20px;
}

.thead {
    font: 100px;
}